<header class="masthead">
  <div class="container position-relative">
      <div class="row justify-content-center">
          <div class="col-xl-6">
              <div class="text-center text-white">
                  <!-- Page heading-->
                  <h1 class="mb-5">Generate your shortened URL!</h1>
                  <!-- Signup form-->
                  <form>
                      <div class="input-group input-group-lg">
                          <input class="form-control" type="text" ng-model="longUrl" placeholder="Enter your URL..." aria-label="Enter your URL..." aria-describedby="button-submit" />
                          <button class="btn btn-primary" id="button-submit" type="button" ng-click="generateShortenedURL(longUrl)">Generate !</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</header>

<table class="table table-striped" style="overflow-y:auto">
<thead>
    <tr>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th>Hit Count</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="urlEntry in listOfExistingURL">
            <td>{{urlEntry.originalUrl}}</td>
           <td><a target="_blank" ng-href="users/{{urlEntry.shortUrl}}"> {{urlEntry.shortUrl}}</a></td>
            <td>{{urlEntry.urlHitCount}}</td>
       
        </tr>

    </tbody>


</table>